.tab-content {
    background-color: #ededed;
}
        .custom-select {
    margin:5px;
}
        .br-widget a:first-child {
    display: none;
}
        .content{
    border: 0px solid black;
    border-radius: 3px;
    padding: 5px;
    margin: 0 auto;
    width: 50%;
}

        .post{
    border-bottom: 1px solid black;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

        .post:last-child{
    border: 0;
}

        .post h1{
    font-weight: normal;
    font-size: 30px;
}

        .post a.link{
    text-decoration: none;
    color: black;
}

    .post-text{
    letter-spacing: 1px;
    font-size: 15px;
    font-family: serif;
    color: gray;
    text-align: justify;
}
        .post-action{
    margin-top: 15px;
    margin-bottom: 15px;
}

        .scroll-popup {
    position: relative;
}

        .filter-hide, .edit-product-popup, .edit-collection-popup  { 
    position:fixed;
    padding: 5px;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0) ;
    transition: 100ms ease-in-out;
    border-radius: 0px;
    z-index: 10;
    background-color: white;
    width: 800px;
    max-width: 80%;
    /*display: none;*/
    overflow: auto;
    height:400px;
}
    
        .centring{
        margin: auto; display: flex;justify-content: center; align-items: center;
    
}
        .btnPerform{
            float: right;
            margin-top: 10%;
            border: none;
            border-radius: 1.5rem;
            padding: 2%;
            background: #0062cc;
            color: #fff;
            font-weight: 600;
            width: 50%;
            cursor: pointer;
}

        .pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
}

        .pagination a.pagination-btn-active {
    background-color: dodgerblue;
    color: white;
}

        .pagination a:hover:not(.btn-active) {
    background-color: #ddd;
}

        .page {
    display: none;
}

        .page-active-offers, .page-active-sign-ups{
    display: block;
}

        .products-list {
    height: 200px;overflow:auto;
}

        .popup-hide {
    position: fixed;
    padding: 5px;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 150ms ease-in-out;
    border-radius: 0px;
    z-index: 10;
    background-color: white;
    width: 400px;
    max-width: 80%;
    height:200px;
}